<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1081096197267-vm2gglifbja4mluv2b3feddda1ihj5at.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1081096197267-vm2gglifbja4mluv2b3feddda1ihj5at</string>
	<key>API_KEY</key>
	<string>AIzaSyDikAxIpt92MtdFz3yGP8qZw97cC0A9VOI</string>
	<key>GCM_SENDER_ID</key>
	<string>1081096197267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Baroqueaccess.Lujo</string>
	<key>PROJECT_ID</key>
	<string>lujo-b8ea6</string>
	<key>STORAGE_BUCKET</key>
	<string>lujo-b8ea6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1081096197267:ios:0399dabd7ac6e8a0b7a966</string>
</dict>
</plist>