<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AVIATION_API_TOKEN</key>
	<string>$(AVIATION_API_TOKEN)</string>
	<key>AVIATION_API_VERSION</key>
	<string>$(AVIATION_API_VERSION)</string>
	<key>AVIATION_AUTH_TOKEN</key>
	<string>Bearer $(AVIATION_AUTHORISATION_TOKEN)</string>
	<key>AVIATION_BASE_URL</key>
	<string>$(AVIATION_SERVER)</string>
	<key>AVIATION_PRODUCT_NAME</key>
	<string>$(AVIATION_PRODUCT_NAME)</string>
	<key>BACKEND_API_VERSION</key>
	<string>$(LUJO_API_VERSION)</string>
	<key>BACKEND_SCHEME</key>
	<string>$(BACKEND_CONNECTION_SCHEME)</string>
	<key>BACKEND_URL</key>
	<string>$(BACKEND_SERVER)</string>
	<key>CARDCONNECT_ID</key>
	<string>$(CARDCONNECT_MERCHANT_ID)</string>
	<key>CARDCONNECT_PASSWORD</key>
	<string>$(CARDCONNECT_API_PASSWORD)</string>
	<key>CARDCONNECT_PORT</key>
	<string>$(CARDCONNECT_PORT)</string>
	<key>CARDCONNECT_URL</key>
	<string>$(CARDCONNECT_URL)</string>
	<key>CARDCONNECT_USERNAME</key>
	<string>$(CARDCONNECT_API_USERNAME)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Lujo</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.baroqueaccess.golujo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>golujo-app</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>googlechromes</string>
		<string>comgooglemaps</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>admin-stage.golujo.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSRequiresCertificateTransparency</key>
				<false/>
				<key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
				<false/>
				<key>NSThirdPartyExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<true/>
			</dict>
			<key>amazonaws.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSRequiresCertificateTransparency</key>
				<false/>
				<key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
				<false/>
				<key>NSThirdPartyExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<true/>
			</dict>
			<key>api-stage.golujo.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSRequiresCertificateTransparency</key>
				<false/>
				<key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
				<false/>
				<key>NSThirdPartyExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>LUJO App needs to access to your bluetooth connection to use Bluetooth payment peripherics to process your payment with a Cards.</string>
	<key>NSCameraUsageDescription</key>
	<string>LUJO App needs to access to your cammera to be able to send images to our agents.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>LUJO App needs to access to your location to be able to find the best possible events near your location.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>LUJO App needs to access to your microphone jack connection to use  payment peripherics to process your payment with a Cards.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>LUJO App needs to access to your library to be able to send images to our agents.</string>
	<key>OneSignal_app_groups_key</key>
	<string>group.com.Baroqueaccess.Lujo.onesignal</string>
	<key>TERMS_OF_USE_URL</key>
	<string>http://golujo.com/tos/</string>
	<key>UIAppFonts</key>
	<array>
		<string>SF-Pro-Text-Bold.otf</string>
		<string>SF-Pro-Text-Light.otf</string>
		<string>SF-Pro-Text-Regular.otf</string>
		<string>HelveticaNeueLTStd-Bd.otf</string>
		<string>HelveticaNeueLTStd-Md.otf</string>
		<string>HelveticaNeueLTStd-Roman.otf</string>
		<string>Lora-Regular.ttf</string>
		<string>HelveticaLTStd-Bold.otf</string>
		<string>HelveticaLTStd-Light.otf</string>
		<string>HelveticaLTStd-Roman.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>ZenDesk</key>
	<dict>
		<key>AccountKey</key>
		<string>4YV5XKt3p725i51uq9IY3drXNHrA0G4A</string>
		<key>App_ID</key>
		<string>1b7bb41fa5ef62c5fb79c813978839c878ad2db27f635fa7</string>
		<key>Client_ID</key>
		<string>mobile_sdk_client_2b2fd89d326845f7a7e0</string>
	</dict>
</dict>
</plist>
